*{
    box-sizing: border-box;
}

body {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 216, 199);
}

#title {
    margin-top: -1vmin;
    font-size: 7vmin;
    color: rgb(86, 86, 87);
}

header {
    display: grid;
    grid-template-columns: 30vmin 30vmin;
    font-size: 2vmin;
    color:white;
    height: 8vmin;
    background-color: rgb(45, 45, 45);
    cursor: default;
}

#info {
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-text {
    padding: .5vmin;
    background-color: grey;
    border: solid white .5vmin;
}

#info.hide {
    display: none
}

#time {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
}

#time span {
    margin-left: 1.5vmin;
    padding: .5vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    background-color: grey;
    border: solid white .5vmin;
}

#time.hide {
    display: none;
}

#board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60vmin;
    height: 60vmin;
    border: solid rgb(45, 45, 45) 2vmin;
    background-color: grey;
}

#board.hide {
    display: none;
}

.cell {
    margin: 0 auto;
    height: 7vmin;
    width: 7vmin;
    border: .2vmin solid white;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.clicked {
    background-color:lightgrey;
}

footer {
    display: flex;
    background-color: rgb(45, 45, 45);
    width: 60vmin;
    justify-content: center;
    align-items: center;

}

#flag-btn {
    margin-top: -1vmin;
    margin-bottom: 1vmin;
    font-size: 7vmin;
    width: 12vmin;
    border-radius: 50%;
    border: none;
    padding-left: 3vmin;
    cursor: pointer;
}

#flag-btn.hide {
    display: none;
}

.not-toggled {
    background-color: lightgrey;
}

.toggled{
    background-color: yellow;
}


#play-agn {
    display: none; 
}

#play-agn.show {
    display: flex;
    margin-top: .7vmin;
    margin-bottom: 2.7vmin;
    font-size: 3vmin;
    padding: 1vmin;
    border: solid black .5vmin;
    border-radius: 50%;
}

#play-agn.show:hover {
    border: solid white .5vmin;
    background-color: black;
    color:white;
}

#bar-three {
    display: none;
}

#bar-three.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar-four {
    display: none;  
}

#bar-four.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-1 {
    color: blue;
}

.m-2 {
    color: green;
}

.m-3 {
    color: yellow;
}

.m-4 {
    color: orange;
}

.m-5 {
    color: red;
}

.m-6 {
    color: purple;
}

.m-7 {
    color: brown;
}

.m-8 {
    color: black;
}

#win-message {
    display: none;
}

#win-message.show {
    display: flex;
    flex-direction: column;
    word-spacing: 20vmin;
    line-height: 19vmin;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 12vmin;
}

#win-text {
    background-color: grey;
    border: solid rgb(45, 45, 45) 2vmin;
}